.card{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color:var(--white);
    color: var(--black);
}

/*
different displays presetted as None
*/

#mastermind{
    display: none;
}

#pacman{
    display: none;
}

#house{
    display: none;
}

#pia{
    display: none;
}

#streamer{
    display: none;
}

#naive-vocals{
    display: none;
}